<h1>Página mvc estudo Ruby On Rails</h1>

<%= link_to "criar produto", new_produto_path %>

<% @produtos.each do |produto| %>
    <p> <%= produto.name %> </p>
    <p> <%= produto.price %> </p>
    <p> <%= produto.quantidade %> </p>
    <%# direcione para produtos_path e aqui em -> (produto) : é recebido o id do produto  %>
    <%# link_to "ver produto", "produtos/#{produto.id}" %>

    <%= link_to "ver produto", produto %>

<%end%>

